version: "3.9"

services:
  backend:
    build: .
    container_name: task-manager-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
    # volumes:
    #   - .:/app
    restart: always

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
